site_name: BoosterFi Documentation
site_url: https://docs.boosterfi.app
site_description: Official documentation for BoosterFi - Decentralized Liquidity Protocol for Flash Loans on Arbitrum
site_author: BoosterFi Team

repo_name: boosterfi/docs
repo_url: https://github.com/boosterfi/docs

theme:
  name: material
  icon:
    logo: material/rocket-launch
  favicon: assets/favicon.png
  palette:
    - scheme: slate
      primary: deep purple
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: deep purple
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.copy
  font:
    text: Inter
    code: Roboto Mono

nav:
  - Home: index.md
  - Getting Started:
    - Overview: getting-started/overview.md
    - How to Deposit: getting-started/how-to-deposit.md
    - How to Withdraw: getting-started/how-to-withdraw.md
  - Protocol:
    - Smart Contracts: protocol/smart-contracts.md
    - Security: protocol/security.md
    - Business Plans: protocol/business-plans.md
  - Community:
    - Affiliate System: community/affiliate-system.md
    - Social Media: community/social-media.md
  - Resources:
    - FAQ: resources/faq.md
    - Roadmap: resources/roadmap.md
    - Brand Guidelines: resources/brand-guidelines.md

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/boosterfi
    - icon: fontawesome/brands/telegram
      link: https://t.me/boosterfi
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/boosterfi
    - icon: fontawesome/brands/github
      link: https://github.com/boosterfi

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.mark
  - attr_list
  - md_in_html
  - tables
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - minify:
      minify_html: true

copyright: >
  <div style="text-align: center; width: 100%;"><img src="assets/logo.png" alt="BoosterFi" style="height: 60px; margin-bottom: 15px;"></div><br>
  <div style="text-align: center;"><strong>BoosterFi</strong> - Boost your earnings with Flash Loans</div>
  <div style="text-align: center;">Copyright &copy; 2024-2025 BoosterFi. All rights reserved.</div>
